<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @practitioner.name %>
</p>

<% if @practitioner.user == current_user %>
	<%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
<% end %>
<%= link_to 'Back', practitioners_path %>
