<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @practitioner.name %>
</p>

<%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
<%= link_to 'Back', practitioners_path %>
