<div class="questionnaires_<%= action_name %>">
  <h1>
      List of surveys here
  </h1>
  <hr>
  <% if user_signed_in? %>
    <%= link_to "New Survey", new_survey %>
  <% end %>
  <ul>
    <% @surveys.each do |survey| %>


    <div class="square">
        <%= link_to "Take this survey", new_attempt_path(survey_id: survey.id), class: 'survey-name' %>
    </div>

      <li>
        <%= link_to 'Edit', edit_survey_path(survey) %>
      </li>
    <% end -%>
  </ul>

</div>
